gdown==5.2.0
geopandas==1.0.1
google==2.0.3
google-auth==2.38.0
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
hdbscan==0.8.40
httpx==0.28.1
ipyparallel==8.8.0
joblib==1.4.2
jupyter-console==6.1.0
keras==3.8.0
kaggle==1.7.4.2
kagglehub==0.3.12
matplotlib==3.10.0
numpy==2.0.2
pandas==2.2.2
plotnine==0.14.5
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shap==0.47.2
statsmodels==0.14.4
streamlit
tensorflow==2.18.0
tqdm==4.67.1
xgboost==2.1.4
